<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Įveskite rezervuaro duomenis</div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="" class="form-label">Rezervuaro talpą (l):</label>
                        <input type="number" class="form-control" [(ngModel)]="talpa">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Rezervuaro pildymo greititį (l/val.):</label>
                        <input type="number" class="form-control" [(ngModel)]="greitis">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Laiką kiek rezervuaras bus pildomas (val.):</label>
                        <input type="number" class="form-control" [(ngModel)]="laikas">
                    </div>
                    <button class="btn btn-success" [disabled]="talpa==null || greitis==null" (click)="skaiciuok()">Skaičiuoti</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Rezultatai</div>
                <div class="card-body">
                    <div *ngIf="kmi!=''"> Rezervuaro yra užpildyta: {{ kmi }} %</div>
                    <div *ngIf="kmi==''"> Įveskite duomenis ir paspauskite skaičiuoti</div>
                </div>
            </div>
        </div>
    </div>
</div>

